// @for $i from 1 through 12 {
//   .col-#{$i} {
//     width: calc(100% /12 * $i);
//   }
// }
.row {
  @extend %clearfix;
  margin: 0 -15px;
}
.col-3 {
  float: left;
	width: calc(100% / 12 * 3);
}
.col-4 {
	float: left;
	width: calc(100% / 12 * 4);
}
.col-5 {
	float: left;
	width: calc(100% / 12 * 5);
}
.col-6 {
  float: left;
	width: 50%;
}
.col-7 {
	float: left;
	width: calc(100% / 12 * 7);
}
.col-8 {
	float: left;
	width: calc(100% / 12 * 8);
}
.align-text {
  text-align: center;
}
